.menu-item-container {
  height: calc(100vh - 60px - 10px);
  margin-top: 10px;
  padding-top: 20px;
  background-color: white;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
}

.menu-item-container > div:not(.super-menu-item) {
  background: linear-gradient(to right, #ffaa00 50%, #707070 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
}
.menu-item-container > div:not(.super-menu-item):hover {
  background-position: left bottom;
}
.super-menu-item-font-container {
  margin-right: auto;
  width: 62px;
  height: 30px;
  display: flex;
  flex-direction: row;
}
.sub-item {
  width: 100% !important;
}
.sub-item > div:hover {
  background-color: #707070 !important;
  color: white;
}
.super-menu-item-font-container > div {
  width: 26px !important;
}
.super-menu-item-font-container > div:nth-child(2) {
  background-color: #707070;
}
.super-menu-item-font-container > div:nth-child(1) {
  margin-left: 10px;
}
.menu-item-font-container {
  margin-right: auto;
  width: 30px;
  height: 30px;
}
.menu-item-font-container-selected {
  background-color: #ffaa00;
}
.super-menu-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #707070;
}
.menu-item {
  display: flex;
  flex-direction: row;
  /* margin-top: 5px; */
  cursor: pointer;
  border-bottom-width: 1px;
  border-bottom-color: #707070;
  border-bottom-style: solid;
}

.menu-item > div:nth-child(1) {
  width: -webkit-fill-available;
  width: -moz-available;
}

.menu-item:not(.menu-item-selected) > div:nth-child(1) {
  color: #707070;
  background: linear-gradient(to right, #ffaa00 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.7s ease-out;
}
.menu-item:not(.menu-item-selected) > div:nth-child(1):hover {
  background-color: transparent;
  color: white !important;
  background-position: left bottom;
}

.menu-item-selected {
  background: #ffaa00 !important;
}

.rnc__notification-container--top-right {
  position: fixed !important;
  bottom: 20px !important;
  top: unset !important;
  z-index: 100000001;
}

.rnc__notification-container--top-right .rnc__notification-title {
  font-family: IRANSans;
}

.rnc__notification-container--top-right .rnc__notification-message {
  font-family: IRANSans;
}

.JDatePicker {
  font-family: IRANSans;
  background-color: #ffaa00 !important;
  max-width: 230px !important;
  z-index: 10 !important;
}
.JDatePicker .JC-months .holder:last-child {
  width: 100% !important;
}
.JDatePicker .JDheader > .right,
.JDatePicker .JDheader > .left {
  width: 100% !important;
}
/* .JDatePicker .JDheader .left {
} */
.JDatePicker .JDheader .right .number {
  background-color: white;
}

.JDatePicker .JDheader > .right {
  position: relative;
  margin-top: 5px;
}

.JDatePicker .JDheader .right input[type='tel'] {
  width: 70% !important;
  top: 3px !important;
}

.JDatePicker .JDheader select {
  background-color: white !important;
  text-align: center;
  height: 25px;
  font-family: IRANSans;
  font-size: 14px;
}

.JDatePicker .day-items:hover,
.JDatePicker .day-items.selected {
  background-color: #013243 !important;
  color: white;
}
.JDheader {
  display: flex;
  flex-direction: column-reverse;
}
.JDsubmit {
  background-color: #013243 !important;
  font-family: IRANSans;
  font-size: 12px !important;
  cursor: pointer;
}
.JDcancel {
  background-color: #ff0000 !important;
  font-family: IRANSans;
  font-size: 12px !important;
  cursor: pointer;
}
/* .date-picker {
  padding-top: 10px;
} */

.date-picker > input {
  font-family: IRANSans;
  background-color: white;
  border: 1px solid #707070;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  direction: rtl;
  height: 35px;
  padding-bottom: 0;
  cursor: pointer;
  width: 100%;
  max-width: 276px;
  margin-left: 10px;
  margin-right: 10px;
}
.JDatePicker .JDheader .left p {
  color: white !important;
  font-size: 12px;
  font-weight: bold;
}
.ck-editor__main {
  font-family: IRANSans;
}
.ck-editor__main > .ck-editor__editable {
  min-height: 200px;
  direction: rtl;
  text-align: right !important;
}

.rdt_TableCell,
.rdt_TableCol {
  min-width: 140px !important;
}

.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(1),
.rdt_Table .rdt_TableHeadRow .rdt_TableCol:nth-child(1) {
  min-width: 50px !important;
}

.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3),
.rdt_Table .rdt_TableHeadRow .rdt_TableCol:nth-child(3) {
  min-width: 80px !important;
}

.rdt_Table .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(2),
.rdt_Table .rdt_TableHeadRow .rdt_TableCol:nth-child(2) {
  min-width: 80px !important;
}

.mySelect .r-touchAction-1otgn73 svg {
  margin-top: 6px;
}
